<section class="bg-bg-grey overflow-x-hidden relative">
  <div class="max-w-[68rem] section-content-wrapper">
    <div class="max-w-[40rem]">
      <h2 class="section-header font-bold text-bg-blue text-left">
        About us
      </h2>
      <div class="bg-purple w-12 h-1 rounded mt-7"></div>
      <p class="lg:text-lg mt-7">
        Trailblazer GmbH is the software company behind Trailblazer. Based in Berlin, and with our consultants and gem developers around the world, we offer consulting and training for all things Trailblazer.
      </p>
      <p class="lg:text-lg mt-8">
        Our company reinvests our funds straight back into developing all Trailblazer gems, better documentation and support, plus building up a nice team of fantastic people to help you with Trailblazer.
      </p>

    <%= image_tag "memo-create.png", class: "hidden lg:block rounded relative h-[29rem] w-auto bottom-[29rem] left-[54rem] -mb-[29rem]" %>
      <p class="mt-7">


Impressum
<br/>

Angaben gemäß § 5 TMG
<br/>

Trailblazer GmbH<br/>
Boddinstr. 57<br/>
12053 Berlin<br/>
GERMANY<br/>

Vertreten durch:<br/>

Nick Sutterer<br/>

    Registereintrag: Eintragung im Handelsregister.<br/>
    Registergericht: Berlin-Charlottenburg<br/>
    Registernummer: HR B 190776<br/>
    Umsatzsteuer-ID: gemäß §27a Umsatzsteuergesetz: DE314332049<br/>
    Steuernummer: 27/563/50103<br/>

Verantwortlich i.S.d. § 18 MStV ist: <br/>

Nick Sutterer<br/>
Boddinstr. 57<br/>
12053 Berlin<br/>

      </p>

    </div>
  </div>
</section>

<%= render Cell::Erb::Template.new("app/concepts/cell/application/chat_with_us.erb") %>

