%pre
  %code
    :plain
      class Memo::Create < Trailblazer::Operation
        step :create, fast_track: true # notice the extra option :fast_track

        def create(ctx, **)
          Railway.pass_fast! if ctx[:model].save
        end
      end
