<section class="px-10 py-22 bg-bg-purple-3" id="callout-section">
  <h1 class="section-header font-bold">
    Is there anything unanswered?
    <br/>
    Get in touch with
    <span class="font-black">
      TRAILBLAZER
    </span>
    <%= link_to "Chat with us", "https://trailblazer.zulipchat.com", class: "base-button bg-purple hover:bg-light-grey hover:text-blue text-white mt-15 mx-auto" %>
  </h1>
</section>

