<section class="px-10 py-22 bg-bg-purple-3" id="callout-section">
  <h1 class="section-header font-bold">
    Subscribe to our
    <span class="font-black">
      newsletter
    </span>!

    <p class="font-normal text-lg">
      2-3 mails per year with news about releases and things we're up to.
    </p>

    <form action="https://trailblazerb.us8.list-manage.com/subscribe/post?u=bbe5021ab6fbdc94a16f0d036&amp;id=a69f6e4652" method="post" class="" target="_blank">
      <div class="flex justify-center space-x-4 mt-6">
        <div class="h-full items-center flex"> <!-- items-center to center vertically, justify-center to center horizonally. -->
          <input type="email" name="EMAIL" class="h-[64px] rounded" placeholder="your@email.com" required>
        </div>
        <div class="">
          <button type="submit" class="base-button bg-purple text-white mx-auto h-[64px] hover:bg-light-grey hover:text-blue">Subscribe</button>
        </div>
      </div>
    </form>
  </h1>
</section>


