@import url('https://fonts.cdnfonts.com/css/open-sauce-one');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply font-medium text-base uppercase hover:scale-110
      lg:normal-case lg:font-semibold;
  }

  .hamburger-bars {
    @apply pointer-events-none w-full h-0.5 bg-blue transition-all duration-150
      before:content-['']
      before:absolute
      before:w-full
      before:h-0.5
      before:bg-blue
      before:-translate-y-2.5
      before:transition-all
      before:duration-150
      after:content-['']
      after:absolute
      after:w-full
      after:h-0.5
      after:bg-blue
      after:translate-y-2.5
      after:transition-all
      after:duration-150;
  }

  .hamburger-toggle {
    @apply
    [&>div]:h-0
    [&>div::before]:translate-y-0
    [&>div::before]:rotate-45
    [&>div::after]:translate-y-0
    [&>div::after]:-rotate-45
  }

  .active-mobile-navbar {
    @apply sticky top-0 h-screen;
  }

  .base-button {
    @apply w-60 h-14 rounded flex items-center justify-center text-base font-bold
    lg:w-[18.75rem] lg:h-16 lg:text-2xl
    hover:scale-105;
  }

  .section-content-wrapper {
    @apply mobile-section-width mx-auto py-12 max-w-[28rem]
      lg:max-w-[58.5rem] lg:py-22;
  }

  .mobile-section-width {
    @apply w-10/12;
  }

  .section-header {
    @apply text-center text-3xl lg:text-5xl;
  }

  .section-description {
    @apply text-center text-lg mt-5 lg:text-2xl;
  }

  .list-circle {
    @apply list-image-[url(list_circle)] ml-10;
  }

  .list-checkmark {
    @apply list-image-[url(list_checkmark)];
  }

  .list-white-checkmark {
    @apply list-image-[url(list_white_checkmark)];
  }

  .documentation-side-nav {
    @apply bg-bg-blue w-screen h-screen fixed top-0 z-20 transition-all ease-in-out right-[100vw] overflow-y-scroll
      lg:w-3/12 lg:max-w-[23rem] lg:static  lg:overflow-y-visible lg:shrink-0 lg:sticky lg:top-[5.5rem];
  }

  .documentation-sub-header {
    @apply text-2xl font-bold text-neutral-500 lg:text-3xl;
  }

  .color-note {
    @apply rounded flex p-4 gap-4 mt-5;
  }

  .documentation-right-nav-link {
    @apply block px-2 leading-8 hover:scale-105;
  }
}
