<section class="bg-bg-blue pt-20 pb-32 px-10">
  <h2 class="section-header text-white font-bold text-4xl lg:text-6xl">
    We streamline
    <span class="text-purple-text">code organization</span>
  </h2>
  <p class="text-white text-lg text-center mt-10 mx-auto max-w-[45rem]">
    <span class="font-bold uppercase text-purple-text">Trailblazer</span>
    is a framework-agnostic set of gems helping to improve your app's code structure.
    It is used in hundreds of Rails apps and often got introduced after many years of development to reduce technical debt.

  </p>
  <div class="max-w-[63rem] section-content-wrapper md:py-0">
    <div class="md:text-left md:flex-row md:justify-between md:mt-[5.5rem] flex flex-col mt-10 text-center">
      <div class="order-last w-full mt-10 mx-auto md:order-none md:mt-0 md:mx-0">
        <lottie-player src="<%= asset_path "lottie/1-A.json" %>" background="transparent" speed="5" class="" loop autoplay></lottie-player>
      </div>

      <%#= image_tag "code_placeholder_3.jpg", class: "order-last w-full h-fit mt-10 mx-auto max-w-[22rem] lg:max-w-[27rem] md:order-none md:mt-0 md:mx-0" %>
      <div class="md:max-w-[28rem] flex flex-col">
        <div class="text-white">
          <h3 class="lg:text-3xl font-bold text-3xl">
            <span class="text-purple-text">Smart</span>
            architecture
          </h3>
          <p class="mt-4 text-lg lg:mt-5">
            The core of
            <span class="font-bold uppercase text-purple-text">Trailblazer's</span>
            architecture is the concept of an operation, which is a stateless object that encapsulates the overall behavior and logic
            of a specific use case or feature within the application. It orchestrates the activities, validations, policies, models,
            callbacks, and other components necessary to execute the use case.
          </p>
        </div>
      </div>
    </div>

    <div class="md:text-left md:flex-row md:justify-between md:mt-[5.5rem] flex flex-col mt-10 text-center">
      <div class="md:max-w-[28rem] flex flex-col">
        <div class="text-white">
          <h3 class="lg:text-3xl font-bold text-3xl">
            <span class="text-purple-text">Orchestrate</span>
            activities
          </h3>
          <p class="mt-4 text-lg lg:mt-5">
            In
            <span class="font-bold uppercase text-purple-text">Trailblazer</span>,
            each function or task of an application is encapsulated into an activity. An activity represents a specific step or action
            within the application's workflow. Activities can range from simple ad-hoc Ruby methods to more complex nested activities.
          </p>
        </div>
      </div>
      <div class="order-last w-full mt-10 mx-auto md:order-none md:mt-0 md:mx-0">
        <lottie-player src="<%= asset_path "lottie/2-A.json" %>" background="transparent" speed="4" class="" loop autoplay></lottie-player>
      </div>
    </div>

    <div class="md:text-left md:flex-row md:justify-between md:mt-[5.5rem] flex flex-col mt-10 text-center">
      <div class="order-last h-[22rem] mt-10 mx-auto md:order-none md:mt-0 md:mx-0">
        <lottie-player src="<%= asset_path "lottie/3-A.json" %>" background="transparent" speed="4" class="" loop autoplay></lottie-player>
      </div>

      <%#= image_tag "code_placeholder_3.jpg", class: "order-last w-full h-fit mt-10 mx-auto max-w-[22rem] lg:max-w-[27rem] md:order-none md:mt-0 md:mx-0" %>
      <div class="md:max-w-[28rem] flex flex-col">
        <div class="text-white">
          <h3 class="lg:text-3xl font-bold text-3xl">
            <span class="text-purple-text">Smart</span>
            architecture
          </h3>
          <p class="mt-4 text-lg lg:mt-5">
            The core of
            <span class="font-bold uppercase text-purple-text">Trailblazer's</span>
            architecture is the concept of an operation, which is a stateless object that encapsulates the overall behavior and logic
            of a specific use case or feature within the application. It orchestrates the activities, validations, policies, models,
            callbacks, and other components necessary to execute the use case.
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Learn more", "2.1/learn", class: "base-button bg-purple hover:bg-light-purple hover:text-blue text-white mt-15 mx-auto" %>
</section>
