<section class="bg-blue">
  <div class="section-content-wrapper lg:max-w-none">
    <h2 class="section-header text-white font-bold">
      Our
      <span class="text-purple-text">main features</span>
    </h2>
    <div class="flex flex-col gap-20 mx-auto mt-32 lg:flex-row lg:gap-10 lg:justify-center">
      <div class="relative border border-white rounded-lg text-white text-center px-8 pb-15 mx-auto max-w-[26rem] lg:max-w-[23rem] lg:mx-0">
        <div class="w-20 h-20 rounded-full bg-bg-purple-1 absolute -top-10 left-0 right-0 m-auto flex justify-center"><%= image_tag "trb-ruby-white.svg", class: "w-[45px]" %></div>
        <div class="mt-15 font-semibold text-xl">Multiple abstractions</div>
        <div class="mt-6 text-lg">
          In <span class="text-purple-text">Trailblazer</span>, we provide a set of solutions for different problems. Our stand-alone gems range from structuring business logic to form objects, view components and much more. You pick what you need.
        </div>
      </div>
      <div class="relative border border-white rounded-lg text-white text-center px-8 pb-15 mx-auto max-w-[26rem] lg:max-w-[23rem] lg:mx-0">
        <div class="w-20 h-20 rounded-full bg-bg-purple-1 absolute -top-10 left-0 right-0 m-auto flex justify-center"><%= image_tag "trb-ruby-white.svg", class: "w-[45px]" %></div>
        <div class="mt-15 font-semibold text-xl">Legacy Ready</div>
        <div class="mt-6 text-lg">
          You can start using <span class="text-purple-text">Trailblazer</span> in existing, massive applications today. Refactorings can be applied step-wise,
          legacy code can be minimized as you go. Remember: Rome wasn't build in one day, either.
        </div>
      </div>
      <div class="relative border border-white rounded-lg text-white text-center px-8 pb-15 mx-auto max-w-[26rem] lg:max-w-[23rem] lg:mx-0">
        <div class="w-20 h-20 rounded-full bg-bg-purple-1 absolute -top-10 left-0 right-0 m-auto flex justify-center"><%= image_tag "trb-ruby-white.svg", class: "w-[45px]" %></div>
        <div class="mt-15 font-semibold text-xl">Long-Term Support (LTS)</div>
        <div class="mt-6 text-lg">
          <span class="text-purple-text">Trailblazer</span> is in use in thousands of production applications. That's why we promise:
          <span class="text-purple-text">Trailblazer</span> 2.1 is long-term supported.
          Easy upgrades and stable internal APIs allow us to innovate and keep you covered.
        </div>
      </div>
    </div>
  </div>
</section>
