<section class="section-content-wrapper">
  <h2 class="section-header font-bold">
    Who can use
    <span class="text-purple-text uppercase">Trailblazer</span>?
  </h2>
  <div class="mt-10 lg:flex lg:justify-between lg:gap-6">
    <div class="lg:w-[55%]">
      <div class="mt-1">
        <div class="bg-purple text-white text-lg font-semibold py-4 px-5 hover:bg-light-purple user-group" data-selected-class="bg-purple text-white hover:bg-purple">Developers and Teams</div>
        <ul class="list-image-disc pl-8 hidden space-y-6">
          <li class="">Developers who work on Ruby applications, especially those built using frameworks like Rails, Hanami, Roda, Grape, or Sinatra.</li>
          <li class="">Development teams working on complex applications with intricate business logic who don't want to reinvent the wheel.</li>
          <li class="">Teams that value code organization, maintainability, and testability enforced by a library and not by internal documentation.</li>
        </ul>
      </div>

      <div class="mt-1">
        <div class="border border-purple text-lg font-semibold py-4 px-5 lg:border-none hover:bg-light-purple user-group" data-selected-class="bg-purple text-white hover:bg-purple">Companies with Legacy Codebase</div>
        <ul class="hidden list-image-disc pl-8 space-y-6">
          <li class="">Trailblazer is designed to be introduced in existing, complex projects. Most TRB gems support Ruby 2.1 and above.</li>
          <li class="">Step-wise, old code can be replaced with much cleaner operations, new functions can be built using TRB.</li>
          <li class="">Missing tests are easily added around our new abstractions. No need to write slow integration tests for every edge case.</li>
        </ul>
      </div>
      <div class="mt-1">
        <div class="border border-purple text-lg font-semibold py-4 px-5 lg:border-none hover:bg-light-purple user-group" data-selected-class="bg-purple text-white hover:bg-purple">Startups and Fast-Growing Companies</div>
        <ul class="hidden list-image-disc pl-8 space-y-6">
          <li class="">Using more abstractions doesn't contradict rapid prototyping. In fact, more conventions mean less guessing and faster decisions.</li>
          <li class="">With a solid architecture, new features and changes are implemented faster and much more consistent than following the vanilla Rails Way.</li>
          <li class="">TRB's robust conventions empower developers to concentrate on feature development, while the Rails Way often presents an abundance of divergent approaches.</li>
        </ul>
      </div>
      <div class="mt-1">
        <div class="border border-purple text-lg font-semibold py-4 px-5 lg:border-none hover:bg-light-purple user-group" data-selected-class="bg-purple text-white hover:bg-purple">Growing Teams</div>
        <ul class="hidden list-image-disc pl-8 space-y-6">
          <li class="">The learning curve of TRB is quickly outweighed by the onboarding speed for new developers.</li>
          <li class="">Our architecture encourages strong interfaces and encapsulation which help big teams designing big applications and keeping those maintainable.</li>
          <li class="">Trailblazer is built for reusability. Most our abstractions encourage inheritance and composition. Complex components can be shared across teams or even apps.</li>
        </ul>
      </div>
      <div class="mt-1">
        <div class="border border-purple text-lg font-semibold py-4 px-5 lg:border-none hover:bg-light-purple user-group" data-selected-class="bg-purple text-white hover:bg-purple">Companies Emphasizing Test-Driven Development</div>
        <ul class="hidden list-image-disc pl-8 space-y-6">
          <li class="">Encapsulation in TRB is key. That makes unit-tests a walk in the park.</li>
          <li class="">We maintain test gems that help writing bullet-proof assertions.</li>
          <li class="">Operations are single entry points for functions. That makes it much easier to design tests before you write code.</li>
        </ul>
      </div>
      <div class="mt-1">
        <div class="border border-purple text-lg font-semibold py-4 px-5 lg:border-none hover:bg-light-purple user-group" data-selected-class="bg-purple text-white hover:bg-purple">Companies Prioritizing Long-Term Support</div>
        <ul class="hidden list-image-disc pl-8 space-y-6">
          <li class="">We've been around for more than a decade. And we will stay for at least another one.</li>
          <li class="">With TRB 2.1, we provide long-term support (LTS) and don't change public API without thorough deprecation.</li>
          <li class="">And if you're still stuck: we also offer consulting services! Engage us for a day or two, we are passionate about helping your team and learning about problems you're facing. This often contributes to the enhancement of Trailblazer itself.</li>
        </ul>
      </div>
    </div>

<!--    container for desktop list content- handle with JS-->
    <div class="lg:block lg:basis-0 lg:grow pt-5" id="users-content">
      <div />
    </div>
  </div>
</section>
