<!-- {h-screen} in this SECTION makes it take the entire screen height. note that h-screen is also set on the parallax overflow -->
<section class="pt-[5.5rem] pb-40 h-screen bg-black">
  <div class="lg:w-[1440px] z-40 sm:flex sm:justify-end sm:pr-10">
    <div class="w-fit bg-bg-blue/70 py-12 px-8 sm:mx-0 lg:max-w-[30rem] z-40 h-fit">
      <h1 class="text-white font-bold text-4xl lg:text-6xl">
        The advanced
        <br>
        <span class="text-purple">business logic</span>
        framework
      </h1>
      <p class="mt-6 text-xl text-white lg:mt-8 lg:text-2xl">
        A powerful set of gems that
        <br>
        simplifies the implementation
        <br> of clean Ruby applications.
      </p>
      <%= link_to "SOME CODE?", "#some-code", class: "base-button text-white bg-purple mt-10 lg:text-2xl uppercase hover:bg-light-purple hover:text-blue" %>
    </div>
  </div>

  <div class="overflow-hidden top-0 bottom-0 left-0 right-0 absolute w-full h-screen">
    <div class="z-30 bg-[url('parallax/front.webp')]  -bottom-[210px] top-0 left-0 right-0 absolute bg-right-bottom bg-no-repeat bg-cover" data-parallax='{"y" : -600}'></div>
    <div class="z-20 bg-[url('parallax/middle.webp')] -bottom-[35px]  top-0 left-0 right-0 absolute bg-right-bottom bg-no-repeat bg-cover" data-parallax='{"y" : -300}'></div>
    <div class="z-10 bg-[url('parallax/back.webp')]   -bottom-[30px]  top-0 left-0 right-0 absolute bg-right-bottom bg-no-repeat bg-cover" data-parallax='{"y" : -150}'></div>
  </div>
</section>

<div id="docsearch" style="display: none">
</div>
<%# FIXME: We need this in order to have docsearch working globally. %>
