<section class="bg-blue py-20">
  <div class="flex flex-col gap-10 mobile-section-width max-w-[24rem] mx-auto lg:flex-row lg:max-w-none lg:gap-20 lg:justify-center">
    <%= image_tag "buildalib-cover.webp", class: "w-full mx-auto lg:w-auto lg:mx-0" %>
    <div class="flex flex-col gap-10 justify-center px-10 py-10 bg-white text-center rounded-3xl lg:max-w-[25rem]">
      <h2 class="text-purple-text font-black text-3xl uppercase lg:text-4xl">A beginner's guide!</h2>
      <p class="lg:text-left">
        <span class="font-semibold">Our new tutorial book is published!</span>
        Building an authentication library similar to Devise we discuss everything from software design
        basics to tools and library functions of Trailblazer 2.1.
      </p>
      <%= link_to "Learn more", "#", class: "base-button text-white bg-blue hover:bg-light-purple hover:text-blue lg:text-2xl mx-auto" %>
    </div>
  </div>
</section>
