<section class="section-content-wrapper lg:max-w-none">
  <h2 class="section-header text-blue font-bold">
    What others say about
    <br>
    <span class="text-purple-text uppercase font-bold">Trailblazer?</span>
  </h2>
  <div class="flex flex-col gap-20 mx-auto mt-20 lg:flex-row lg:gap-14 lg:justify-center">
    <div class="relative flex flex-col justify-between border border-blue rounded-lg text-blue text-center px-8 pb-12 mx-auto max-w-[22rem] lg:max-w-[23rem] lg:mx-0">
      <p class="mt-12 text-lg">
        <span class="uppercase text-purple-text">Trailblazer</span> has been a game-changer for our development team.
        It has revolutionized the way we handle complex business logic in our Ruby applications. With <span class="uppercase text-purple-text">Trailblazer</span>,
        we've experienced a significant improvement in code organization, maintainability, and overall productivity.
      </p>
      <div class="font-bold text-purple mt-10 text-xl">
        Frankie, CEO Codebase
      </div>
    </div>
    <div class="relative flex flex-col justify-between border border-blue rounded-lg text-blue text-center px-8 pb-12 mx-auto max-w-[22rem] lg:max-w-[23rem] lg:mx-0">
      <p class="mt-12 text-lg">
        The architecture provided by <span class="uppercase text-purple-text">Trailblazer</span> has allowed us to separate concerns effectively,
        making our codebase cleaner and easier to understand. It's refreshing to see business logic extracted from controllers and models into dedicated operations,
        resulting in more focused and testable code.
      </p>
      <div class="font-bold text-purple mt-10 text-xl">
        Devin, Code Analyst
      </div>
    </div>
    <div class="relative flex flex-col justify-between border border-blue rounded-lg text-blue text-center px-8 pb-12 mx-auto max-w-[22rem] lg:max-w-[23rem] lg:mx-0">
      <p class="mt-12 text-lg">
        One of the standout features of <span class="uppercase text-purple-text">Trailblazer</span> is its workflow- oriented approach.
        The ability to define and orchestrate activities in a clear and structured manner has greatly simplified our application's complex workflows.
        We can easily visualize and manage the sequence of steps, making it easier to reason about and maintain.
      </p>
      <div class="font-bold text-purple mt-10 text-xl">
        Brooke, Developer
      </div>
    </div>
  </div>
</section>
