<div class="lg:pt-10 lg:pl-5 xl:pl-20 p-10 pl-20 text-white leading-10 space-y-1 h-full overflow-auto">
  <% separator_after = {3 => true, 9 => true}
      separator_class = "border-t-[1px] border-dark-purple"
  %>
  <% @options[:headers].each_with_index do |header, i| %>
    <% next if header.options[:visible] == false %>

    <div class="flex flex-col <%= separator_after[i] ? separator_class : nil %>">
      <%= link_to %(#{header.title}), header.options[:target], class: "pl-4 font-bold #{header.items.any? ? 'bg-dark-purple' : ''}" %>
      <% header.items.each do |h2| %>
        <%= link_to h2.title, "##{h2.id}", class: "pl-8" %>
      <% end %>
    </div>
  <% end %>
</div>
