<div class="display_none bg-white p-5 w-56 shrink-0 text-bg-blue overflow-y-scroll top-22 toc-right-height" id="<%= css_id %>">
  <h4 class="font-base font-bold leading-10 pl-2">
     <%= h2.title %>
  </h4>

  <% h2.items.each do |h3| %>
    <%= link_to h3.title, "##{h3.id}", class: "block px-2 leading-8" %>

    <% h3.items.each do |h4| %>
      <%= link_to h4.title, "##{h4.id}", class: "block px-2 pt-[.33rem] pb-[.33rem] leading-snug text-purple pl-6" %>
    <% end %>
  <% end %>
</div>

