<!-- {h-screen} in this SECTION makes it take the entire screen height. note that h-screen is also set on the parallax overflow -->
<section class="pt-[5.5rem] pb-40 sm:flex sm:justify-end sm:pr-10 h-screen bg-black">
  <div class="w-fit mx-auto bg-bg-blue/70 py-12 px-8 sm:mx-0 lg:max-w-[33rem] z-40 h-fit">
    <h1 class="text-white font-bold text-4xl lg:text-6xl">
      High-level
      <br>
      architecture
      <br>
      <span class="text-purple">framework</span>
    </h1>
    <p class="mt-6 text-xl text-white lg:mt-8 lg:text-2xl">
      A powerful framework that simplifies
      <br>
      the implementation of business
      <br>logic in Ruby applications.
    </p>
    <%= link_to "Chat with us", "#", class: "base-button text-white bg-purple mt-10 lg:text-2xl" %>
  </div>

  <div class="overflow-hidden top-0 bottom-0 left-0 right-0 absolute w-full h-screen">
    <div class="z-30 bg-[url('parallax/front.webp')]  -bottom-[210px] top-0 left-0 right-0 absolute bg-right-bottom bg-no-repeat bg-cover" data-parallax='{"y" : -600}'></div>
    <div class="z-20 bg-[url('parallax/middle.webp')] -bottom-[35px]  top-0 left-0 right-0 absolute bg-right-bottom bg-no-repeat bg-cover" data-parallax='{"y" : -300}'></div>
    <div class="z-10 bg-[url('parallax/back.webp')]   -bottom-[30px]  top-0 left-0 right-0 absolute bg-right-bottom bg-no-repeat bg-cover" data-parallax='{"y" : -150}'></div>
  </div>
</section>
