<section class="bg-orange pt-[5.5rem] pb-40 sm:flex sm:justify-end sm:pr-10">
  <div class="w-fit mx-auto bg-bg-blue/40 py-10 px-8 sm:mx-0 lg:max-w-[33rem]">
    <h1 class="text-white font-bold text-4xl lg:text-6xl">
      High-level
      <br>
      architecture
      <br>
      <span class="text-purple">framework</span>
    </h1>
    <p class="mt-6 text-xl text-white lg:mt-8 lg:text-2xl">
      A powerful framework that simplifies
      <br>
      the implementation of business
      <br>logic in Ruby applications.
    </p>
    <%= link_to "Chat with us", "#", class: "base-button text-white bg-purple mt-10 lg:text-2xl" %>
  </div>
</section>
