<section class="bg-selected text-center py-20 px-10">
  <h2 class="mx-auto text-purple-text text-4xl sm:text-5xl sm:max-w-[27rem] lg:text-7xl lg:max-w-[44rem]">
    A mature and battle tested framework
    <br>
    <span class="text-white">
      used in thousands of applications
    </span>
  </h2>
  <div class="mx-auto mt-10 max-w-[50rem] lg:mt-15">
    <div class="relative h-0 pb-[56.25%]">
      <iframe class="absolute t-0 left-0 w-full h-full" src="https://www.youtube.com/embed/9elpobV4HSw"></iframe>
    </div>
  </div>
</section>
